<!-- Contact Page contents -->
<br></br>
<div class="row">
    <div class="col-6 bg-light p-3" id="contact_page">
        <img src="{% static 'images/ubuntu_wallp.jpg' %}" class="center" alt="Imagem">
        <div class="align-items-start">
            
            <div class="contact-me" >
            <div class="#">
                <h5 class="title">Formas de contato:</h5>
            </div>
            <br></br>
            <p>Telefone: <a href="tel:17 997833958">(17) 99783-3958</a></p>                    
            <p>E-mail: <a href="mailto:neiabracero@hotmail.com">neiabracero@hotmail.com</a></p>
            <p>Facebook: <a href="https://www.facebook.com/profile.php?id=100008769616665">Neia Bracero</a></p>
            </div>

            <div class="contact-me" >
                <div class="#">
                    <h5 class="title">O que eu faço?</h5>
                </div>
                <br></br>
                <p>- Manicure, Pedicure, cabelos de todos os sexos e idade, vendo semijois e roupas. 
            </div>
        </div>
    </div>
    <div class="col-6 bg-light p-3 border" >
        <p>a</p>
    </div>
</div>
<!-- End of Contact Page Contents-->