main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
  text-align: justify;
  color: black;
  font-weight: 400;
}

#small_main_text {
  text-align: center;
  font-weight: 900;
  color: #c97070;
}

h2 {
    margin: 0;
    text-align: center;
    color: #c97070;
}

img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}

#sempre {
    color: rgb(228, 161, 17);
}

#hero_image {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #c97070;
}


/* Footer */

.footer-basic {
  padding:40px 0;
  background-color:#c97070;
  color:rgb(255, 174, 0);
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:rgb(255, 174, 0);
  margin-bottom:0;
}

