main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
  text-align: justify;
}

#small_main_text {
  text-align: center;
  font-weight: 900;
  color: #c97070;
}

#aqui {
  color: rgb(228, 161, 17);
}

h2 {
    margin: 0;
    text-align: center;
    color: #c97070;
}

img {
    vertical-align: middle;
    height: auto;
    width: 100%;
}

#sempre {
    color: rgb(228, 161, 17);
}
